
html, body{
    height:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: #342966; 
    color: aliceblue;
}

.sobreMi{
    background-color: #5F548C;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -2%;
    height: 8%;
    border-radius: 0 0 10px 10px;
    border: 2px solid black; 
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experiencia{
    background-color: #5F548C;
    width: 4%;
    height: 100%;
    margin-left: -2%;
    border-radius: 0 10px 10px 0;
    border: 2px solid black; 
}

.main img {
    max-width: 40%;
}

.main h1{
    font-size: 300%
}

.puntos {
    display: flex;
    justify-content: space-around; 
    text-decoration: underline;
    font-size: larger;
}

.P1:hover, .P2:hover, .P3:hover, .P4:hover{
    color: #C7B9FF;
}

.conocimientos {
    background-color: #5F548C;
    width: 4%;
    height: 100%;
    margin-right: -2%;
    border-radius: 10px 0 0 10px;
    border: 2px solid black; 
}

.proyectos {
    background-color: #5F548C;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -2%;
    height: 8%;
    border-radius: 10px 10px 0 0;
    border: 2px solid black; 
}